---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
        border-radius: 0.5rem;
      }
      ul li {
        display: flex;
        background-color: black;
        padding: 0.75rem;
        margin: 1rem;
        border-radius: 0.5rem;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #5959;
      }
    </style>
  </head>
  <body class='h-full'>
    <Header />
    <main class='pt-24 content-center'>
      <div
        class='hero-image h-screen flex items-center justify-center text-lg text-white'
      >
        <section class='flex justify-center'>
          <ul>
            {
              posts.map((post) => (
                <li>
                  <time
                    class='text-white'
                    datetime={post.data.pubDate.toISOString()}
                  >
                    {post.data.pubDate.toLocaleDateString('en-us', {
                      year: 'numeric',
                      month: 'short',
                      day: 'numeric',
                    })}
                  </time>
                  <a class='text-white' href={`${post.slug}/`}>
                    {post.data.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>
